.alert-danger {
    background-color: #dc35450f;
    border: 1px solid #dc35450f;
    color: #dc3545;
}
#summernote .modal-header {
    display: none!important;
}
.page-link:hover {
    color: #ffffff;
    background-color: #007bff;
    border-color: #007bff;
}
.page-link:focus {
    box-shadow: none;
}