a, h1, h2, h3, h4, h5, h6, p {
    font-family: 'Nunito Sans', sans-serif!important;
}
.alert-danger {
    background-color: #dc35450f;
    border: 1px solid #dc35450f;
    color: #dc3545;
}
#summernote .modal-header {
    display: none!important;
}
.page-link:hover {
    color: #ffffff;
    background-color: #007bff;
    border-color: #007bff;
}
.page-link:focus {
    box-shadow: none;
}
.form-control:focus {
    box-shadow: none!important;
}
.form-check-input:focus {
    box-shadow:none!important;
}